@import '../../../../styles/common/mixins';

.how-steps {
  position: relative;

  &::after {
    content: '';
    background: linear-gradient(
      0deg,
      rgba(222, 232, 242, 0.3) 0%,
      rgba(249, 250, 251, 0) 100%
    );
    bottom: 0;
    left: 0;
    height: 185px;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  &:nth-child(odd) {
    .how-steps__content {
      flex-direction: row-reverse;

      @include mobile(986px) {
        flex-direction: column;
        // gap: 38px;
      }
    }
  }

  &:nth-child(5) {
    .how-steps__content {
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    gap: 38px;

    @include mobile(1145px) {
      align-items: center;
    }

    @include mobile(986px) {
      flex-direction: column;
      margin-bottom: 100px;
    }

    &__image {
      max-width: 537px;
      overflow: hidden;
      .image {
        // height: 120px;
        max-width: 455px;
        width: 100%;
        filter: drop-shadow(0px 15px 50px rgba(44, 79, 122, 0.1));
      }

      .buy {
        padding-right: 82px;

        @include mobile(986px) {
          padding-right: 51px;
        }
      }

      .sell {
        margin-top: 28px;
        padding-left: 82px;

        @include mobile(986px) {
          padding-left: 51px;
          margin-top: 17px;
        }
      }

      .scribble-text {
        color: #000;
        font-family: 'Lemonade Stand';
        font-weight: 400;
        font-size: 29px;
        line-height: 52px;
        display: flex;
        align-items: center;
        -webkit-text-stroke-width: thin;
        margin-top: 18px;
        padding-left: 123px;

        @include mobile(986px) {
          padding-left: 97px;
          margin-top: 11px;
        }

        @include mobile(500px) {
          font-size: 18px;
          line-height: 33px;
        }

        span {
          img {
            width: 117px;
            height: 82px;

            @include mobile(500px) {
              width: 73px;
              height: 51px;
            }
          }
        }
      }
    }

    &__text {
      margin-top: 122px;

      @include mobile(1145px) {
        margin-top: 0;
      }

      &__header {
        font-weight: 700;
        line-height: 37px;

        @include mobile(500px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        margin-top: 16px;
        max-width: 497px;

        @include mobile(986px) {
          margin-bottom: 60px;
        }
      }
    }
  }
}
