.base-input {
  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #5a7184;
    margin-bottom: 13px;
    display: block;
  }

  &__input {
    font-family: 'Exo', sans-serif;
    width: 100%;
    padding: 17px 20px 18px;
    border: 1px solid #dfe3ef;
    border-radius: 8px;
    background: rgb(var(--white));
    caret-color: var(--boardman-primary);
    margin-bottom: 32px;
  }
}
