@font-face {
    font-family: 'Lemonade Stand';
    src: url('LemonadeStand.woff2') format('woff2'),
        url('LemonadeStand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

